@import 'tailwindcss';

@theme {
  --color-brancht-dark: #373737;
  --color-brancht-green: #8db986;
  --color-brancht-light-green: #acce91;
  --color-brancht-vibrant-green: #badb73;
  --color-brancht-beige: #efeae4;
}
